.body {
  padding: 0;
  margin: 0;
  color: #B0E4CC;
  background-color: #091413;
}

.go-back-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  padding: 12px;
}
.go-back-button-text {
  font-size: 16px;
  text-decoration: none;
  color: #A6A6A6;
}

.our-keyboards-title-container {
  display: flex;
  height: 60px;
  justify-content: center;
  align-items: center;
}

.our-keyboards-title {
  font-size: 24px;
  font-weight: bold;
}

.search-filter-container {
  display: flex;
  justify-content: center;
  height: 140px;
  padding: 10px;
}
.search-filter-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  height: 100%;
  background-color: #172623;
  border-radius: 12px;
  border: 1px solid #2B303B;
}
.search-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  height: 30%;
}
.search-icon {
  width: 20px;
  height: 20px;
}
.search-input {
  width: 80%;
  height: 90%;
  border: none;
  background-color: #101318;
  border: 1px solid #2B303B;
  border-radius: 8px;
  color: #A6A6A6;
}
.search-input:focus {
  outline: 2px solid #408A71;
}

.filter-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  height: 30%;
}
.filter-icon {
  width: 20px;
  height: 20px;
}
.filter-select {
  width: 80%;
  height: 90%;
  border: none;
  background-color: #101318;
  border: 1px solid #2B303B;
  border-radius: 8px;
  color: #A6A6A6;
}
.filter-select:focus {
  outline: 2px solid #408A71;
}
option {
  background-color: #101318;
  color: #A6A6A6;
  padding: 10px;
  font-size: 17px;
}

.results-title-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 30px;
  padding: 15px 10px 5px 10px;
}
.results-title {
  margin: 0;
  color: #A6A6A6;
}

.product-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}
.product-card-component {
  width: 100%;
  border-radius: 12px;
}
.product-card-component:hover {
  scale: 1.02;
  box-shadow: 0 0 15px rgba(64, 138, 113, 0.5);
}
.product-component-image-container {
  width: 100%;
  height: 253px;
  border-radius: 12px 12px 0 0;
  cursor: pointer;
}
.product-component-image {
  width: 100%;
  height: 100%;
  border-radius: 12px 12px 0 0;
  object-fit: cover;
}

.product-component-content {
  display: flex;
  flex-direction: column;
  gap: 6px;
  min-height: 225px;
  height: auto;
  background-color: #172623;
  border-radius: 0 0 12px 12px;
  padding: 10px;
}
.product-title {
  font-size: 18px;
  font-weight: bold;
  color: #FFF;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product-description {
  margin: 0;
  font-size: 14px;
  color: #A6A6A6;
  line-height: 20px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}
.rating-container {
  width: 225px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.stars-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
  color: #FAB338;
}
.star {
  font-size: 20px;
  color: #d1d5db;
}
.star.filled {
  color: #eab308;
}
.points-text {
  font-size: 16px;
  color: #A6A6A6;
}
.keyboard-specs-container {
  width: 200px;
  height: 44px;
  color: #A6A6A6;
}
.price-buy-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 65px;
}
.price-text {
  font-size: 24px;
  font-weight: bold;
}
.add-to-cart-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 130px;
  height: 35px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #408A71;
  cursor: pointer; 
}
.add-to-cart-button:active {
  background-color: #B0E4CC;
}
.button-cart-image {
  width: 22px;
  height: 22px;
}
.add-to-cart-button-text {
  font-size: 14px;
  font-weight: bold;
  color: #FFF;
}

@media screen and (width > 754px) {
  .go-back-button-container {
    padding-left: 50px;
    padding-right: 50px;
  }
  .search-filter-box {
    width: 400px;
  }
  .product-cards-container {
    justify-content: flex-start;
  }
  .product-card-component {
    width: 320px;
  }
}

@media screen and (width > 1024px) {
  .go-back-button-container {
    padding-left: 100px;
    padding-right: 100px;
  }
  .our-keyboards-title {
    font-size: 30px;
  }
  .search-filter-box {
    width: 500px;
  }

  .product-cards-container {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media screen and (width > 1365px) {
  .go-back-button-container {
    padding-left: 200px;
    padding-right: 200px;
  }
  .results-title-container {
    justify-content: center;
  }
  .product-cards-container {
    justify-content: center;
  }
}
